#header {
    background-size: cover;
    background-color: aquamarine;
    text-align: center;
}

.jumbotron{
    padding: none;
}

#city-search{
    width: 100%;
}

i {
    width: 240px;
    display: inline-block;
}

#todays-weather{
    padding-left: 15%;
}

#delete-history{
    color: grey;

}

.weather-block{
    width: 90px;
    background-color: aquamarine;
    text-align: center;
}

